.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.btn-review{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background-color: orange;
    border-radius: 4px;
    color: white;
    height: 45px;
    align-items: center;
}